<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-md-4">

            <div class="info_box">
                <img src="/img/light-bulb.svg" class="info_icon wow slideInDown" data-wow-delay=".2s" data-wow-duration=".8s" data-wow-iteration="1" ><br/>
                <h4 class="text-center">Strategy</h4>
                <p><strong>We're not just a development shop.</strong> We want to understand your business goals,
                    critical needs and motivators so we can tailor service to meet your needs.</p>
                <p>Whether you’re creating an MVP or taking your apps to the next level, we’re your technology
                    quarterback to meet short and long-term goals.</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="info_box">
                <img src="/img/paintbrush.svg" class="info_icon wow slideInDown" data-wow-delay=".5s" data-wow-duration=".8s" data-wow-iteration="1" ><br/>
                <h4 class="text-center">Design</h4>
                <p><strong>Looks matter.</strong> Apps should be functional, intuitive, and aesthetically pleasing.</p>
                <p>Give us a sketch on a napkin and we’ll take care of the rest. Whether you have branding already, or
                    want to develop a style that matches your business, we want to delight you and your users with a
                    pleasant experience.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info_box">
                <img src="/img/code.svg" class="info_icon wow slideInDown" data-wow-delay=".9s" data-wow-duration=".8s" data-wow-iteration="1" ><br/>
                <h4 class="text-center">Development</h4>
                <p><strong>The devil is in the details.</strong> At the heart of every project is quality code that
                    makes it all run.</p>
                <p>We mitigate risk by prototyping the most challenging pieces first in order to efficiently
                    manage budgets and timelines. Our code is crafted in an iterative process with alphas and betas for
                    our clients to track progress.</p>
            </div>
            <!--<div class="circle circle-border wow fadeInRight" data-wow-duration="2s" style="background-color: #bf8c31">-->
            <!--<div class="circle-inner">-->
            <!--<div class="score-text">Software<br/>Development</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>

    </div>
</section>
