<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Alleyway</h2>

            <p>We provide innovative solutions and deliver high-quality, professional service.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <div class="circle circle-border wow fadeInLeft" data-wow-delay=".2s" data-wow-duration="3s" style="background-color: #bf8c31">
                <div class="circle-inner">
                    <div class="score-text">Technology<br/>Strategy</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="circle circle-border wow fadeInLeft" data-wow-duration="2s" style="background-color: #bf8c31">
                <div class="circle-inner">
                    <div class="score-text">Interactive<br/>Design</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="circle circle-border wow fadeInRight" data-wow-duration="2s" style="background-color: #bf8c31">
                <div class="circle-inner">
                    <div class="score-text">Software<br/>Development</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="circle circle-border wow fadeInRight" data-wow-delay=".2s" data-wow-duration="3s" style="background-color: #bf8c31">
                <div class="circle-inner">
                    <div class="score-text">Team<br/>Augmentation</div>
                </div>
            </div>
        </div>

    </div>
</section>
