<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Alleyway</h2>

            <p>We provide innovative solutions and deliver high-quality, professional service.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <div class="circle circle-border wow fadeInLeft" data-wow-delay=".2s" data-wow-duration="3s" style="background-color: #bf8c31">
                <div class="circle-inner">
                    <div class="score-text">Technology<br/>Strategy</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="circle circle-border wow fadeInLeft" data-wow-duration="2s" style="background-color: #bf8c31">
                <div class="circle-inner">
                    <div class="score-text">Interactive<br/>Design</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="circle circle-border wow fadeInRight" data-wow-duration="2s" style="background-color: #bf8c31">
                <div class="circle-inner">
                    <div class="score-text">Software<br/>Development</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="circle circle-border wow fadeInRight" data-wow-delay=".2s" data-wow-duration="3s" style="background-color: #bf8c31">
                <div class="circle-inner">
                    <div class="score-text">Team<br/>Augmentation</div>
                </div>
            </div>
        </div>

    </div>
</section>
<section id="portfolio" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2" style="padding-bottom:50px;">
            <hr width="60%"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <p>&nbsp;<br/>&nbsp;<br/>Alleyway Supports <br/> Charlottesville's Tech Tour</p>
            <ul style="text-align: left; display:inline-block; font-size: larger">
                <li>Responsive Web Design</li>
                <li>Dynamic Mapping</li>
                <li>Google Docs Integration</li>
                <li>Printable Turn-By-Turn Directions</li>
                <li>Open Source</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <a href="http://techtour.cvilleinnovation.org/"><img src="/img/cbic_tech_tour_show_off.png"
                                                                 class="img-responsive"/></a>
        </div>
    </div>

    <div class="row" style="margin-top: 90px;">
        <div class="col-lg-6 col-lg-push-4 col-lg-offset-1">
            <p>&nbsp;<br/>&nbsp;<br/><a href="http://mobileid4livestock.com" rel="nofollow">MobileID</a> - A Native Android App for Livestock Management</p>
            <ul style="text-align: left; display:inline-block; font-size: larger">
                <li>Bluetooth Integration with RFID wands (made by Allflex/Gallagher/Destron)</li>
                <li>Unlock Features with In-App Billing</li>
                <li>Data Export</li>
                <li>Animated Data Entry</li>
            </ul>
        </div>
        <div class="col-lg-4 col-lg-pull-6 text-center">
            <img src="/img/mobileid_screenshot_galaxys4_white_portrait.png" class="img-responsive" style="max-height: 380px; margin: 0 auto;"/>
        </div>
    </div>

    <div class="row" style="margin-top: 90px;">
        <div class="col-lg-4 col-lg-offset-1">
            <p>&nbsp;<br/><a href="https://thegiftticket.com/">The Gift Ticket</a> -  Give Money with the Experience of Winning</p>
            <ul style="text-align: left; display:inline-block; font-size: larger">
                <li>Responsive Web Design</li>
                <li>Twilio Integration (text-messaging)</li>
                <li>Deep PayPal<sup>&reg;</sup> & eBay<sup>&reg;</sup> integration</li>
                <li>Automated PDF generation of prizes and datamatrix/barcodes</li>
                <li>Companion Android app for fulfillment (barcode scanning)</li>
                <li>Enterprise Java codebase hosted on Amazon Web Services</li>
                <li>Secure APIs</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <a href="https://thegiftticket.com/"><img src="/img/gift_ticket_screenshot.png" alt="The Gift Ticket: A fun way to gift money!"
                                                                 class="img-responsive"/></a>
        </div>
    </div>


</section>