<div class="container-fluid alleyway-banner-large" style="margin-top: 100px;">

    <div class="row">

        <div class="col-md-6" style="padding: 0;">

            <div class="container-fluid chooser chooser-left ">
                <div class="row" >
                    <div class="col-xs-12">
                        <strong>Take the first step.</strong>
                        <p>We want to hear your ideas</p>
                    </div>
                    <div class="col-xs-12">
                        <a href="/contact" class="btn btn-chooser btn-lg">Contact Us <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-md-6" style="padding: 0;">
            <div class="container-fluid chooser chooser-right ">
                <div class="row">
                    <div class="col-xs-12 col-md-12 ">
                        <strong>Join our team.</strong>
                        <p>Work hard, play hard</p>
                    </div>
                    <div class="col-xs-12">
                      <a href="/jobs" class="btn btn-chooser btn-lg">See Openings <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
