    <!-- Experience Section -->
    <section id="experience" class="content-section text-center">
        <div class="experience-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>EXPERIENCE</h2>
                    <p>With over fifteen years developing software, we've been down a lot of paths. We can help you navigate yours.</p>
                    <a href="/files/Michael_Lake_CV_20150711.pdf" target="_blank" class="btn btn-default btn-lg">Download Curriculum Vitae</a>
                </div>
            </div>
        </div>
    </section>