<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img src="/img/logo_alleyway_main_index.svg" alt="Alleyway Apps" class="intro-logo">
                    <br/>
                    <a href="#about" style="margin-bottom: 30px; margin-top: 30px;" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>

                    <hr width="15%" color="#fff" style="color: #fff;"/>

                    <p class="intro-text">Intuitive Software Solutions</p>
                </div>
            </div>
        </div>
    </div>
</header>