<section id="portfolio" class="container content-section text-center" style="margin-top: 100px;">

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Portfolio</h2>

            <p>Delivering high-quality functional apps to meet and exceed expectations</p>

        </div>
    </div>

    <div class="row" style="margin-top: 90px;">
        <div class="col-lg-4 col-lg-offset-1">
            <p>&nbsp;<br/><a href="http://www.imbibit.com/">BevWatch</a> - Hydration Tracking</p>
            <ul style="text-align: left; display:inline-block; font-size: larger">
                <li>Accelerometer & algorithm development for Android Wear</li>
                <li>Energy consumption management</li>
                <li>Notifications</li>
                <li>Graphing</li>
                <li>Online/Offline data syncing</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <a href="http://www.imbibit.com/"><img src="/img/bevwatch_watch_frame.png" alt="BevWatch for Android Wear"
                                                   class="img-responsive portfolio-image" style="max-height: 450px;"/></a>
        </div>
    </div>

    <div class="row" style="margin-top: 90px;">
        <div class="col-lg-4 col-lg-offset-1">
            <p>&nbsp;<br/><a href="https://wymgame.com/">Watch Ya' Mouth</a> - The Original Mouthguard Party Game</p>
            <ul style="text-align: left; display:inline-block; font-size: larger">
                <li>Native Apps</li>
                <li>In-App Purchases</li>
                <li>Dynamic Firebase Backend</li>

            </ul>
        </div>
        <div class="col-lg-6">
            <a href="https://wymgame.com/"><img src="/img/wym_screenshot.png" alt="Watch Ya' Mouth"
                                                class="img-responsive  portfolio-image"/></a>
        </div>
    </div>

    <div class="row" style="margin-top: 90px;">
        <div class="col-lg-4 col-lg-offset-1">
            <p>&nbsp;<br/><a href="https://thegiftticket.com/">The Gift Ticket</a> -  Give Money with the Experience of Winning</p>
            <ul style="text-align: left; display:inline-block; font-size: larger">
                <li>Responsive Web Design</li>
                <li>Twilio Integration (text-messaging)</li>
                <li>Deep PayPal<sup>&reg;</sup> & eBay<sup>&reg;</sup> integration</li>
                <li>Automated PDF generation of prizes and datamatrix/barcodes</li>
                <li>Companion Android app for fulfillment (barcode scanning)</li>
                <li>Enterprise Java codebase hosted on Amazon Web Services</li>
                <li>Secure APIs</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <a href="https://thegiftticket.com/"><img src="/img/gift_ticket_screenshot.png" alt="The Gift Ticket: A fun way to gift money!"
                                                      class="img-responsive  portfolio-image"/></a>
        </div>
    </div>

    <div class="row" style="margin-top: 90px;">
        <div class="col-lg-4 col-lg-offset-1">
            <p>&nbsp;<br/>&nbsp;<br/><a href="http://mobileid4livestock.com" rel="nofollow">MobileID</a> - A Native Android App for Livestock Management</p>
            <ul style="text-align: left; display:inline-block; font-size: larger">
                <li>Bluetooth Integration with RFID wands (made by Allflex/Gallagher/Destron)</li>
                <li>Unlock Features with In-App Billing</li>
                <li>Data Export</li>
                <li>Animated Data Entry</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <img src="/img/mobileid_screenshot_galaxys4_white_portrait.png" class="img-responsive portfolio-image" style="max-height: 380px;"/>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <p>&nbsp;<br/>&nbsp;<br/>Alleyway Supports <br/> Charlottesville's <a href="http://techtour.cvilleinnovation.org/" rel="nofollow">Tech Tour</a></p>
            <ul style="text-align: left; display:inline-block; font-size: larger">
                <li>Responsive Web Design</li>
                <li>Dynamic Mapping</li>
                <li>Google Docs Integration</li>
                <li>Printable Turn-By-Turn Directions</li>
                <li>Open Source</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <a href="http://techtour.cvilleinnovation.org/"><img src="/img/cbic_tech_tour_show_off.png"
                                                                 class="img-responsive portfolio-image"/></a>
        </div>
    </div>

</section>