<div class="col-lg-4 col-lg-offset-1 col-xs-offset-1">
    <p>&nbsp;<br/><a href="http://www.imbibit.com/">BevWatch</a> - Hydration Tracking</p>
    <ul style="text-align: left; display:inline-block; font-size: larger">
        <li>Accelerometer & algorithm development for Apple Watch</li>
        <li>Energy consumption management</li>
        <li>Notifications</li>
        <li>Charts</li>
        <li>Data Syncing</li>
    </ul>
</div>
<div class="col-lg-6">
    <a href="http://www.imbibit.com/"><img src="/img/bevwatch_apple_watch.png" alt="BevWatch for Apple Watch"
                                           class="img-responsive portfolio-image" style="max-height: 450px;"/></a>
</div>